<launch>
  <node name="worker" pkg="my_weather_acl" type="worker_node" output="screen">

    <!-- A unique model Qm.... -->
    <param name="model" value="QmZzoCxdcGrtNAjojoYARMrjZjToAEqm1udiVD9hmzmEE2" />

    <!-- A contract address of ACL storage -->
    <param name="acl_address" value="0xD9DB9aa673CE5fA4733FaE45E641C21465aCdb32" />

    <!-- Sensor IP address -->
    <param name="sensor_ip" value="192.168.20.145" />

  </node>
</launch>
